header {
    font-size: 28px;
    text-align: center;
    margin: 2rem 0;
}

.create-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 1rem;
}

.create-form-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.beschrijving-div {
    display: flex;
    flex-direction: column;
}

.beschrijving-div input {
    height: 8rem;
    border: 1px black solid;
    border-radius: 5px;
}

.image-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-form-div input[type="text"] {
    border: 1px black solid;
    border-radius: 5px;
    height: 2rem;
}

.create-form input::placeholder {
    font-style: italic;
    line-height: 1;
    vertical-align: top;
}

#description {
    border: 1px solid black;
    border-radius: 4px;
    height: 6rem;
}

.create-form textarea::placeholder {
    font-style: italic;
}

.aanmaak-button {
    background-color: #D03E76;
    padding: 0.3rem 1rem;
    width: 30vw;
    border-radius: 5px;
    color: white
}

.create-form a {
    padding: 0.3rem 1rem;
    width: 30vw;
    background-color: #757575;;
    text-align: center;
    border-radius: 5px;
    color: white
}

.create-form a:hover {
    background-color: #636363;;
}

.button-div {

}

input[type="file"] {
    width: 170px;
    border-radius: 2px;
}

.error-div {
    display: flex;
    flex-direction: column;
}

.error-div span {
    color: #b00707;
}

.image-div .error-div {
    display: flex;
    align-items: flex-end;
}

.show-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 1.7rem;
}

.show-header h1 {
    font-size: 2rem;
}

.show-header p {
    font-size: 1.3rem;
    margin: 0;
}

.show-header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

.header-img {
    width: 8rem;
    height: 8rem;
}

.show-main {

}

.show-main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f4f6;
    border-radius: 8px;
    margin: 0 1rem 1rem 1rem;
    padding: 0 1rem;
}

.show-main h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.show-main article div {
    height: auto;
    width: 90vw;
}

.show-main p {
    font-size: 1rem;
}





