/* Header */
.vacancy-comp-tit {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.7rem 2rem 0 2rem;
    background: #f5fefd;
    max-width: 70vw;
    border-radius: 0 0 1rem 1rem;
    border-bottom: black .5rem solid;
}

#vacancy-image {
    border-radius: 5rem;
    margin: 2vh 0;
    background-color: #F5FEFD;
    border-bottom: #E2ECC8 .1rem solid;
}

#vacancy-tit {
    display: flex;
    color: #f5fefd;
    justify-self: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    padding: .2rem .65rem .5rem .65rem;
    max-width: 70vw;
    border-radius: 0 0 1rem 1rem;
}

.vacancy-header-img {
    display: flex;
    align-self: center;
    justify-self: center;
    max-height: 20vh;
}


.vacancy-divider-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f3f4f6;
    max-width: 96vw;
    min-width: 96vw;
    border-radius: 1rem;
    justify-self: center;
}

/* Vacature Informatie */
.vacancy-info {
    margin: 2rem 1rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #2b392b;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: .5rem;
}

.vacancy-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vacancy-info p {
    font-size: 1rem;
    margin: 0;
    color: #F5FEFD;
}

.bold-p {
    font-weight: bold;
    margin: 0;
}

/* Beschrijving */
.vacancy-description {
    margin: 2rem 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    background-color: #BFC6AC;
    padding: 1rem 1.5rem 1rem 1rem;
    border-radius: .5rem;
    max-height: 26vh;
}

.vacancy-description p {
    font-size: 1rem;
    margin: 0;
    color: #000000;
}

/* Knoppen */
.vacancy-buttons {
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.vacancy-buttons a {
    text-decoration: none;
    padding: 5px 40px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #aa0160;
    border-bottom: #7C1A51 .15rem solid;
    transition: background-color 0.3s ease;
}

.apply {
    text-decoration: none;
    padding: 5px 40px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #aa0160;
    border-bottom: #7C1A51 .15rem solid;
    transition: background-color 0.3s ease;
}

.vacancy-buttons a:hover {
    background-color: #c41d59;
}

.vacancy-buttons a.back {
    background-color: #757575;
}

.vacancy-buttons a.back:hover {
    background-color: #636363;
}

.red {
    background-color: #A63A3A;
}

.purple {
    background-color: #AF4BA8;
}

.blue {
    background-color: #49759C;
}

.green {
    background-color: #4E7E47;
}

.orange {
    background-color: #9B6D3B;
}

.blue1 {
    background-color: #4F7282;
}

.yellow {
    background-color: #8D7325;
}

.blue2 {
    background-color: #547B87;
}

.red1 {
    background-color: #8C4343;
}

.grey {
    background-color: #757575;
}
