@tailwind base;
@tailwind components;
@tailwind utilities;

.Supermarkten {
    color: #00e600;
}

.HorecaCatering {
    color: #A63A3A;
}

.LogistiekTransport {
    color: #49759C;
}

.Schoonmaak {
    color: #AF4BA8;
}

.BouwTechniek {
    color: #9B6D3B;
}

.ZorgWelzijn {
    color: #4F7282;
}

.Toerisme {
    color: #8D7325;
}

.Scholen {
    color: #547B87;
}

.Evenementen {
    color: #8C4343;
}

.Industrie {
    color: #757575;
}

